.searchRider_page {
 
  display: flex;
  flex-flow: column nowrap;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 5em;
}
@media (min-width: 728px) and (max-width: 1280px), (min-width: 1281px) {
  .searchRider_page {
  align-items: center;}
  .materialDiv, .coachingDiv{
    width: 480px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;

  }
    
  }

.searchRider_page hr {
  border-top: 1em thin;
  width: 100%;
}

.divRangeSpan {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 1em;
  padding: 0.5em;
}
span {
  padding: 0.5em;
  font-size: smaller;
}

