/* Page des resultats */

.Result-PageRider {
display: flex;
align-items: center;
flex-flow: column nowrap;
margin-left: 1em;
margin-right: 1em;
padding-bottom: 1em;
}

.Result-PageRider hr {
  border-top: 1em thin;
  width: 100%;
}
/* bouton de retour */
.Result-filterbarTop {
  display: flex;
  justify-content: left;
  margin-left: 0.7em;
  padding: 0em 1em 1em 0em;
}
.Result-filterbar-button {
  background-color:  #59a080;
  color: white;
  width: 12em;
  height: auto;
  border: solid 1px#59A080;
  border-radius: 20px;
}
/* bouton bas de page  */
.Result-filterbarBot {
  display: flex;
  justify-content: center;
  padding: 0em 1em 1em 0em;
}
/* card de l'annonce */
.resultCardRider {
  width: 20em;
  height: 10em;
}

.resultPhotoRider {
  width: 20em;
  height: 12em;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
}

.resultDetailsRider {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 2em;
  color: white;
  text-align: left;
  margin-left: 1.2em;
  margin-top: -2.5em;
}
.resultHeart {
  width: 1.5em;
}


/* ************************** */
 /* PAGE Annonce  */
.Result_annonce{
  display: flex;
  flex-flow: column wrap;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 2em;
}
.Result_annonce h4 {
  font-size: 16px;
  margin-bottom: 1em;
}

.annonce_header {
  text-align: center;
}
#annonce_logo {
  height: 9em;
  width: 9em;
  padding: 0.5em;
  border-radius: 50%;
  margin-top: 1.5em;
  margin-bottom: 2em;
  object-fit: cover;
}

  /* HEADER Annonce */
.headerAnnonce {
  background-color: #5D5AA4;
  height: 4.5em;
  color : white;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 0.8em;
  margin-bottom: 1em;
  word-break: break-all !important;
   
}

#annonceTitle {
  font-size: 1.2em !important;
  font-weight: 200 !important;
  margin-top: 0.5em !important;
  text-align: center;
}