@media (min-width: 728px) and (max-width: 1280px), (min-width: 1281px) {
  .mainInput, .competDiv, .priceDiv, .disciplineList, .frequencyDiv, .hebergement, .idealHorse, .idealOwner, .locationDiv, .scuring, .structures  {
  
  width: 100%;}
    
  

.select_compet, .priceDiv, .disciplineList, .frequencyDiv, .hebergtList, .idealHorse, .idealOwner, .idealRider, .locationDiv, .scuringList, .structures {
  width: 100%;
  display: flex;
  align-items: baseline;
  flex-flow: row wrap;
  justify-content: center;
  text-align: left;
}}

/* common css btn etc */
#toggle_btn_chev {
  width: 2em;
  margin-right: 0.2em;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  color: #5d5aa4;
  background-color: transparent;
  border: none;
  text-align: center !important;
  outline: none !important;
  padding: none;
}

.mainInput {
  min-width: 8em;
  background-color: #b0b9d380;
  border: none;
  border-radius: 2px;
  height: 2.5em;
  padding: 1em;
}
/* ***** Budget & Localisation ***** */
.mensuel_price {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.priceDiv, .locationDiv{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 1em;
}
.mensuel_price2 label{
    padding-bottom: 1em;
}
/* ***** */
.rayon_loc {
  display: flex;
  justify-content: space-between;
  padding: 0.1em;
}
.rayon_loc span {
  margin: 0.7em;
}
.last_loc {
  display: flex;
  flex-direction: column;
}
.lastLoc {
  display: flex;
  align-items: baseline;
  flex-flow: row nowrap;
}
.aroundMe {
  display: flex;
  align-items: baseline;
  flex-flow: row nowrap;
}
.loc_map {
  margin: 1em;
  width: 1.5em;
  padding: 0.3em;
}
/* ***** Disciplines, structures ***** */

.disciplineList,
.structureList {
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
/* ***** Frequency ***** */
.frequencyDiv {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.frequencyDiv h5 {
  padding: 0.2em;
}
/* ideal Horse & ideal Rider */
.select_temper, .select_caracter, .select_body  {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.hebergtList, .scuringList {
  display: flex; 
  align-items: center;
  flex-flow: column nowrap;
  
}