/* Search page  */
.searchHorse_page {
    display: flex;
    flex-flow: column nowrap;
    
}
.searchHorse_loc {
    display: flex;
    flex-direction: column;
}
#locInput {
    width: 18em;
}
#toggle_btn_chev {
    width: 5em;
    margin: 1em;
}

.searchHorse_loc2 {
    display: flex;
}
#toggle_btn_chev {
    margin: 1em;
}
.rayon_loc {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
.rayon_loc span {
    margin: 1em;
}
.last_loc {
    display: flex;
    flex-direction: column;
}
.loc_map {
    width: 1em;
}

.searchHorse_price2 {
    display: flex;
}