/* Search page  */
.searchHorse_page {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 3em;
    margin-right: 3em;
    padding-bottom: 5em;
}
/* common css btn etc */
#toggle_btn_chev {
    width: 5em;
    margin: 1em;
    color : #5d5aa4;
    background-color: #b0b9d380;
}
.mainInput {
    width: 18em;
    background-color: #b0b9d380;
    border : none ;
    border-radius: 2px;
    height: 2em;
    padding: 1em;
}
.searchHorse_page hr {
    border-top: 1em thin;
    width: 100%;
  }
/* ***** Localisation ***** */

.rayon_loc {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
.rayon_loc span {
    margin: 1em;
}
.last_loc {
    display: flex;
    flex-direction: column;
}
.lastLoc{
    display: flex;
    flex-flow: row nowrap;
}
.aroundMe {
    display: flex;
    flex-flow: row nowrap;
}

.loc_map {
    width: 1.5em;
    padding: 0.3em;
}



/* ***** Checkbox Violettes ***** */
/* Disciplines, Structures, ecuries, hebergement */

.disciplineList, .structureList, .ecuriesList, .hebergtList {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    }
.discipline, .structure, .ecurie, .hebergt {
    background-color: #5d5aa4;
    color: white;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    }

.discipline label, .structure label, .ecurie label {
    font-size: 14px;
    background-color: #5d5aa4;
    font-weight: 400 !important;
    }

/* ------------------------- */
/* ****** Slide buttons violet ******* */
/* Balade, Coaching, Materiel, Concours */

.searchHorse_bal p, .searchHorse_coaching p, .searchHorse_materiel p, .searchHorse_compet p {
    margin-right: 1em;
    word-wrap: break-word;
}
.balade, .coaching, .materiel, .competition {
    display : flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


/* ****** Grands button violet ******* */
/* ideal Horse & ideal Rider */
.select_temper, .select_caracter, .select_body, .select_communication, .select_horseWork {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

/* Boutons plus grands */
.selectBtn2 {
    background-color: #b0b9d380;
    margin: 0.2em !important;
    padding: 0.5em !important;
    width: 20em;
    font-size: 1em !important;
    outline: none;
}
/* ------------------------- */
