.menu {
  position: fixed;
  bottom: 0em;
  background-color: white;
  height: 4.9em;
  color: white;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 0px 3px 0px #77838f65;
  width: 100%;
  margin-top: 0.5em;
  margin-left: 0em;
}
.divBtn {
  display: flex;
  justify-self: center;
  align-items: baseline;
  width: 4em;
  height: 4em;
  margin: 0.4em;
  padding: 0.1em;
  text-align: center;
  box-sizing: content-box;
}

.menu p {
  text-align: center !important;
  font-weight: 200 !important;
  font-family: "pen Sans", sans-serif;
  font-size: 0.8em !important;
  margin: auto;
  padding: 0.2em;
  word-break: keep-all;
  color: #77838f;
  margin-left: 1em;
}

/* logos menu */
.logo-home {
  width: 1.7em !important;
  margin-bottom: 0.4em;
  margin-left: 1em;
}
.logo-save {
  width: 1em !important;
  margin-bottom: 0.4em;
  margin-left: 1em;
}
.logo-mess {
  width: 1.6em !important;
  margin-bottom: 0.4em;
  margin-left: 1em;
}
.logo-profil {
  width: 1.3em !important;
  margin-bottom: 0.4em;
  margin-left: 1em;
}

a {
  text-decoration: none !important;
  color: #77838f !important;
}
.logoM:hover,
.logoM:focus,
.logoM p:hover,
.logoM p:focus {
  border-radius: 10px;
  filter: invert(39%) sepia(40%) saturate(2454%) hue-rotate(213deg)
    brightness(70%) contrast(100%);
}

.logoM:visited, .logoM p:visited  {
  border-radius: 10px;
  
}
.logoM:active, .logoM p:active {
  border-radius: 10px;
}
