.search-button {
    display: flex;
    padding : 2em;
    
}
#search-button {
    position: fixed;
    background-color: #59a080;
    border: none;
    border-style: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    height: 3em;
    width: 19em;
    bottom : 1.5em;
    outline: none;
    z-index: 1;
   
}