.radioCheck-list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
input[type="radio"].radioCheck {
  display: none;
}

input[type="radio"].radioCheck + label {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  width: 8em;
  text-align: center;
  color: #fff;
  background-color: #b0b9d380;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
}
input[type="radio"].radioCheck:checked + label {
  background-color: #5d5aa4;
  border-color: #5d5aa4;
}
