.main-head {
    background-color: #5D5AA4;
    height: 4.5em;
    color : white;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0.8em;
    margin-bottom: 1em;
    word-break: break-all !important;
   
}

#header {
    margin-right: 1em;
    text-align: center;

}

h3 {
    font-size: 1.2em !important;
    font-weight: 200 !important;
}


#chevron-header {
    text-align: left;
    color: white !important;
    
}


.element:nth-child(1) /* On prend le deuxième bloc élément */
{
    background-color: blue;
    align-self: flex-start; /* Seul ce bloc sera aligné à la fin */
    order: 2;
}

.element:nth-child(2) /* On prend le deuxième bloc élément */
{
    background-color: blue;
    align-self: flex-start; /* Seul ce bloc sera aligné à la fin */
    order: 1;
}

